<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- Lista perifericos -->
	<bean id="listPerifericos" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="modelo.entidad.Perifericos">
				<ref bean="monitor"/>
				<ref bean="raton"/>
				<ref bean="teclado"/>
			</list>
		</constructor-arg>
	</bean>
	
	<!-- RAMS -->
	<bean id="kingston" class="modelo.entidad.Ram">
		<property name="id" value="2"></property>
		<property name="precio" value="#{T(java.lang.Math).round(T(java.lang.Math).random() * 500 )}"></property> 
		<property name="hz" value="3200"></property>
		<property name="generacion" value="16"></property>
	</bean>
	
	<bean id="goodram" class="modelo.entidad.Ram">
		<property name="id" value="3"></property>
		<property name="precio" value="#{T(java.lang.Math).round(T(java.lang.Math).random() * 500 )}"></property> 
		<property name="hz" value="2400"></property>
		<property name="generacion" value="16"></property>
	</bean>
	<bean id="goodram2" class="modelo.entidad.Ram">
		<property name="id" value="4"></property>
		<property name="precio" value="#{T(java.lang.Math).round(T(java.lang.Math).random() * 500 )}"></property> 
		<property name="hz" value="3200"></property>
		<property name="generacion" value="16"></property>
	</bean>
	
	<!-- Lista de RAMS -->
	<bean id="listRam" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="modelo.entidad.Ram">
				<ref bean="corsair"/>
				<ref bean="kingston"/>
			</list>
		</constructor-arg>
	</bean>
	
	<!-- Tarjetas Graficas -->
	<bean id="msi" class="modelo.entidad.TarjetaGrafica">
		<property name="id" value="2"></property>
		<property name="marca" value="MSI"></property>
		<property name="ram" ref="goodram2"></property>
		<property name="modelo" value="GeForce RTX3070"></property>
		<property name="precio" value="#{T(java.lang.Math).round(T(java.lang.Math).random() * 2000 )}"></property>
	</bean>
	
	<!-- Lista de Tarjetas Graficas -->
	<bean id="listGraficas" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="modelo.entidad.TarjetaGrafica">
				<ref bean="gigabyte"/>
				<ref bean="msi"/>
			</list>
		</constructor-arg>
	</bean>
	
	

<!--	 
	<bean id="listaPeliculas" class="java.util.ArrayList">
	</bean>
	
	<bean id="numeroMaximo" class="java.lang.Integer">
		<constructor-arg value="3"></constructor-arg>
	</bean>
	
	<bean id="director" class="es.curso.modelo.entidad.Director">
		<property name="id" value="2"></property>
	</bean>
	-->
	<context:component-scan base-package="modelo"></context:component-scan>
</beans>

